

<main class="main">
  <div class="container">
    <div class="title">
      <div class="columnPhoto">
        <img
          src="../assets/img/profilePhoto.jpg"
          width="10%" class="photo">
      </div>
      <h1>Natalia Andrea Caballero Montes</h1>
    </div>
    <div class="subheader">
      <div class="columnHeader">
        <div class="flex">
          <ul class="contactList">
            <li><img src="../assets/img/phone.png" alt="Phone"> <span> +34
                677 23
                92 51</span></li>
            <li><img src="../assets/img/email.png" alt="Email">
              <span>
                nataliac.desarrollopersonal&#64;gmail.com</span></li>
            <li><img src="../assets/img/linkedin.png" alt="LinkedIn">
              <a
                href="https://www.linkedin.com/in/programmernacab"
                target="_blank">LinkedIn
                Profile</a></li>
            <li><img src="../assets/img/github.jpg" alt="GitHub">
              <a href="https://github.com/naandre" alt="GitHub"
                target="_blank">GitHub Profile</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="columnHeader">
        <div class="flex">
          <img src="../assets/img/language.png" alt="Languages" width="15%">
          <ul>
            <li><b>English:</b> B2</li>
            <li><b>Spanish:</b> Native</li>
          </ul>
        </div>
      </div>
    </div>
    <app-menu></app-menu>
  </div>
</main>

<router-outlet />
