<div class="container">
    <nav class="menu flex">
        <div class="btn" routerLink="/about" routerLinkActive="active"
            ariaCurrentWhenActive="page" title="About Me">About</div>
        <div class="btn" routerLink="/experience" routerLinkActive="active"
            ariaCurrentWhenActive="page" title="Experience">Experience</div>
        <div class="btn" routerLink="/studies" routerLinkActive="active"
            ariaCurrentWhenActive="page" title="Studies">Studies</div>
        <div class="btn" routerLink="/certificates" routerLinkActive="active"
            ariaCurrentWhenActive="page"
            title="Complementary Study">Complementary Study, Licences &
            Certifications</div>
    </nav>
</div>
